<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{site.history-heading}}</h2>
                    <h3 class="section-subheading text-muted">{{site.history-subheading}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% for entry in site.history %}
                            <li class="{% cycle 'timeline-normal', 'timeline-inverted' %}">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/{{ entry.pic }}.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>{{ entry.date }}</h4>
                                        <h4 class="subheading">{{ entry.title }}</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">{{ entry.descr }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>{{site.history-cta1}}
                                    <br>{{site.history-cta2}}
                                    <br>{{site.history-cta3}}</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
