<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title-visible}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Lidé</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#photos">Fotogalerie</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Historie</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#map">Mapa</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#price">Ceník</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Menší coworking v Novosedlicích</div>
                <div class="intro-heading">to jsou COWOSEDLICE</div>
                <div>Pokud vám slovo „coworking“ nic neříká, tak zjednodušeně řečeno jde o sdílený pracovní prostor pro lidi na volné noze (OSVČ), kterým stačí k práci jen notebook a kterým vadí z různých důvodů práce z domova. Více viz <a href="https://cs.wikipedia.org/w/index.php?title=Coworking&oldid=12411393">wikipedia</a> nebo <a href="http://navolnenoze.cz/blog/coworking/">tento článek</a>.</div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

