/* Map */
.map {
  height: 500px;
}

section#map {
  padding: 0 0;
}

@media (max-width: 768px) {
  .map {
    height: 75%;
  }
  section#map {
    padding: 0 0;
  }
}

.map iframe {
  pointer-events: none;
}
